<div class="row" ng-controller="NavButtonsCtrl">
  <a type="button" class="btn" ng-class="(!$routeParams.page) ? 'btn-primary' : ''" href="/" bs-button>
    <i class="fa fa-home"></i> traffic
  </a>
  <a type="button" class="btn" ng-class="($routeParams.page == 'participation') ? 'btn-primary' : ''" href="/participation" bs-button>
    <i class="fa fa-info-circle"></i> participation rates
  </a>
  <a type="button" class="btn" ng-class="($routeParams.page == 'about') ? 'btn-primary' : ''" href="/about" bs-button>
    <i class="fa fa-info-circle"></i> about
  </a>
</div><!-- end row -->
<br>
