<div ng-controller="CoreStatsCtrl">
  
  <div class="col-sm-6">
    <strong>Incoming</strong><br>
    <div class="well">
      <span id="meatspace-incoming-total"></span><br>
      total<br>
      <br>
      <span id="meatspace-incoming-uniques"></span><br>
      uniques
    </div>
  </div>
  
  <div class="col-sm-6">
    <strong>Outgoing</strong><br>
    <div class="well">
      <span id="meatspace-outgoing-total"></span><br>
      total<br>
      <br>
      <span id="meatspace-outgoing-uniques"></span><br>
      uniques
    </div>
  </div>
  
  
  <div class="col-sm-6">
    <a type="button" class="btn btn-default btn-small" ng-click="getMeat()" bs-button>refresh meat</a>
  </div>
</div>