.vlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* BEGIN styles for d3-bubbles directive */
.axis path, .axis line {
  fill: none;
  stroke:#b6b6b6;
  shape-rendering: crispEdges;
}
.tick text{
  fill:#999;
}
g.journal.active{
  cursor:pointer;
}
text.label{
  font-size:12px;
  font-weight:bold;
  cursor:pointer;
}
text.value{
  font-size:8px;
  font-weight:bold;
}
/* END styles for d3-bubbles directive */
