.vlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* BEGIN styles for d3-bubbles directive */
.axis path, .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
.tick text{
  fill: #999;
}
text.label{
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
text.value{
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
/* END styles for d3-bubbles directive */
